
@model RentACar.ViewModels.VehicleViewModel

@{
    Layout = null;
    double total = Model.Vehicle.DayPrice;
    string imageData = null;
}

<div class="modal-header" style="background:#AADAFA;">
    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"> Details for @String.Format("{0} {1} {2}", Model.Vehicle.Brand, Model.Vehicle.BrandType, Model.Vehicle.Registration) </h4>
</div>

<div class="modal-body" style="background-color:white">
    <div class="row">
        <div class="col-md-7">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.VehicleType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.VehicleType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.Brand)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.Brand)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.BrandType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.BrandType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.Fuel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.Fuel.FuelName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.GasPerKm)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.GasPerKm)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.HorsePower)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.HorsePower)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.DoorsCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.DoorsCount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.Registration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.Registration)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.RegistrationExpire)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.RegistrationExpire)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.SeatCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.SeatCount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.Airbags)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.Airbags)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.ModelYear)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.ModelYear)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.Mileage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.Mileage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.DayPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.DayPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vehicle.AcquiredDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vehicle.AcquiredDate)
                </dd>

            </dl>
        </div>
        
        <div class="col-lg-5 col-md-5">
            @if (Model.ImagesBase64.Count() > 0 && Model.ImagesBase64[0].ImageBase64Content != null)
            {
                imageData = Model.ImagesBase64[0].ImageBase64Content;
            }
            else
            {
                imageData = Url.Content("~/Content/Pics/car.png");
            }

            <img src="@imageData" class="img-thumbnail" id="vehicle-photo" alt="Vehicle image" /> <br />

            @if (Model.AdditionalEquipment != null && Model.AdditionalEquipment.Count() > 0)
            {
                <div class="additional-equipment">
                    <div class="additional-equipment-header"><strong> Vehicle Additional Equipment</strong></div>
                    <div class="additional-equipment-body">

                        <ul>
                            @foreach (var item in Model.AdditionalEquipment)
                            {
                                if (item.Assigned)
                                {
                                    <li class="">
                                        <label>@String.Format("{0}", item.Equipment.Name) </label>
                                        <label> | <span class="additional-price">@String.Format("{0:N2}", item.Equipment.Price)</span> <span class="additional-currency">kn</span></label>
                                    </li>
                                    total += item.Equipment.Price;
                                }
                            }
                        </ul>
                    </div>
                    <div class="additional-equipment-footer">
                        <label id="total-label">
                            Total
                            <label id="total">@String.Format("{0:N2}", total) <span id="total-currency">kn</span></label>
                        </label>
                    </div>
                </div>
            }
        </div>

    </div>

</div>

<div class="modal-footer">
    <div class="form-group">
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">                  
                    <button type="button"
                            class="btn btn-default approve-btn modal-submit-btn" aria-label="Close" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Views/Shared/_ModalScripts.cshtml")
