
@model RentACar.Models.AppUser

@{
    Layout = null;
    string imageData = null;
}

<div class="modal-header" style="background:#AADAFA;">
    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"> Details for @Model.FullName </h4>
</div>

<div class="modal-body" style="background-color:white">
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StreetName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StreetName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                
                <dt>
                    @Html.DisplayName("User Role")
                </dt>

                <dd>
                    @Html.DisplayName(Model.RoleNames != null && Model.RoleNames.Length > 0 && !String.IsNullOrEmpty(Model.RoleNames[0]) ? Model.RoleNames[0] : "")
                </dd>
            </dl>
        </div>
        
        <div class="col-md-4">
            @if (Model.ImagesBase64.Count() > 0 && Model.ImagesBase64[0].ImageBase64Content != null)
            {
                imageData = Model.ImagesBase64[0].ImageBase64Content;
            }
            else
            {
                imageData = Url.Content("~/Content/Pics/people.jpg");
            }

            <img src="@imageData" id="profile-photo" alt="Profile image" /> <br />
        </div>

    </div>

</div>

<div class="modal-footer">
    <div class="form-group">
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button"
                            class="btn btn-default approve-btn modal-submit-btn" aria-label="Close" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_ModalScripts.cshtml")
