@model RentACar.ViewModels.VehicleLocationViewModel

@{
    Layout = null;
    string imageData = null;
}

@* Form must be include modal header, body and footer so that when server returns partial view for modal on error,
    it will render whole html inside @Html.BeginForm brackets e.g. if only modal body and footer are in @Html.BeginForm, then on error, two modal headers would be displayed. *@

@using (Html.BeginForm("Delete", "VehicleLocations", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal-header" style="background:#AADAFA;">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"> @String.Format("Do you really want to delete {0}?", Model.VehicleLocation.DisplayLocation)</h4>
    </div>

    <div class="modal-body" style="background-color:white">
        <div class="row">

            @Html.AntiForgeryToken()
            @*<hr />*@

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.VehicleLocation.Place)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VehicleLocation.Place)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VehicleLocation.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VehicleLocation.City)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VehicleLocation.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VehicleLocation.Description)
                    </dd>
                </dl>
            </div>

            <div class="col-md-4">
                @if (Model.ImagesBase64.Count() > 0 && Model.ImagesBase64[0].ImageBase64Content != null)
                {
                    imageData = Model.ImagesBase64[0].ImageBase64Content;
                }
                else
                {
                    imageData = Url.Content("~/Content/Pics/location-pin.png");
                }

                <img src="@imageData" id="location-photo" alt="Location image" /> <br />
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-danger modal-submit-btn" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-success approve-btn modal-submit-btn">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("~/Views/Shared/_ModalScripts.cshtml")
